body {
  font-family:'Karla';
  color: black;
  font-size: 26px;
}

header{
	line-height: 140%;
  position: fixed;
  top: 75px;
}

.title{
	font-family:'Karla';
	font-weight: 700;
	
	margin-bottom: -85px;
  text-align: left;

}

h2{
  font-size: 5.5em;
  text-align: left;
  color: blue;
}

a:link {
    text-decoration: underline;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    background-color: blue;
}
a:active {
    text-decoration: underline;
}

.projects{
	font-family:'Karla';
	font-size: 26px;
  text-align: right;
  line-height: 210%;
  margin-bottom: 75px;
  margin-top: 300px;
}



.container {
  width: 600px;
  margin: 0 auto; 
}