a.menu:link {
    text-decoration: none;
    color: black;
    
    
}
a.menu:visited {
    color: black;
}
a.menu:hover {
    color: blue;
    
    
    
}
a.menu:active {
    text-decoration: none;
   color: blue;
}

.links {
   font-size: 16px;
   text-align: center;
   margin-top: 23px;
   line-height: 250%;
}

#icon, #icon-active {
    

    position: fixed;
    top: 11px;
    right: 17px;
    font-size: 28px;
    font-family: 'Andale Mono';
   
    line-height: 40px;
    cursor: pointer;
    z-index: 100;

}

#menu {
    position: fixed;
    cursor: default;
    line-height: 1em;
    text-align: left;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    background: white;
    visibility: hidden;
    color: black;
    z-index: 10;
   
}

#icon:hover #menu {
    visibility: visible;
    color: blue;
  
}

img {
  max-height: 200px;
  position: fixed;
  left: 57px;
  bottom:57px;
}

a:link {
    text-decoration: none;
    color: black;
    
    
}
a:visited {
    color: black;
}
a:hover {
    color: black;
    text-decoration: underline;
    
    
}
a:active {
    text-decoration: underline;
}



h1 {
   font-family:'Anonymous Pro';
  font-size: 38px;
  font-weight: 700;
  text-align: left;
  left: 57px;
  top: 25px;
   position: fixed;
   color: lime;

}

.info {
	margin-left: 50px;
	font-family:'Anonymous Pro';
	  font-weight: 400;
	  font-size: 14px;
	  line-height: 130%;
	 top: 120px;
	  position: relative;
    letter-spacing: .25px;
	 

}

h2 {
  font-family:'Anonymous Pro';
  font-size: 38.2em;
  font-weight: 400;
 right: 70px;
  position: fixed;
color: lime;
z-index: -1;
margin-top: -155px;

}



.text {
  font-family:'Anonymous Pro';
  font-size: 19px;
  font-weight: 400;
text-align: justify;
  line-height: 175%;
  position: relative;
  top: 285px;
  text-align: center;
  margin-left: -35px;


}

.author {
	
	font-family:'Anonymous Pro';
	  font-weight: 400;
	  font-size: 14px;
	  line-height: 130%;
	  position: relative;
	  top: 250px;
	  margin-bottom: 60px;
	 

}

.container {
	width: 600px;
  margin-right: 50px;
  float: right;
}