h1 {
	font-family: 'kaasregular';
	font-size: 375px;
	font-weight: normal;
	font-style: normal;
	position: fixed;
	letter-spacing: 0px;
	margin-top: -55px;
	left: 22px;
 -webkit-animation-name: flash;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
   -moz-animation-name: flash;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

  h2 {
	font-family: 'kaasregular';
	font-size: 375px;
	font-weight: normal;
	font-style: normal;
	position: fixed;
	letter-spacing: 0px;
	margin-top: -55px;
	left: 545px;
-webkit-animation-name: flash;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-name: flash;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;



}

h3 {
	font-family: 'kaasregular';
	font-size: 375px;
	font-weight: normal;
	font-style: normal;
	position: fixed;
	letter-spacing: 0px;
		letter-spacing: 0px;
	right: 895px;
	bottom: -410.25px;
-webkit-animation-name: flash;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite; 
     -moz-animation-name: flash;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
    animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;


}

h4 {
	font-family: 'kaasregular';
	font-size: 375px;
	font-weight: normal;
	font-style: normal;
	position: fixed;

	right: 22px;
	bottom: -534.25px;
	
-webkit-animation-name: flash;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite; 
     -moz-animation-name: flash;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
    animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;

}

.wybc {
	font-family: 'heimat_monobold_italic';
	font-weight: normal;
    font-style: normal;
    font-size: 19.5px;
  transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  position: fixed;
  bottom: 177px;
   left: -74px;
   

}

h5 {

	font-family: 'kaasregular';
	font-size: 375px;
	font-weight: normal;
	font-style: normal;
	position: fixed;
	letter-spacing: 0px;
	text-align: center;
	margin-right: 0 auto;
	margin-left: 0 auto;
	left: 0;
	right: 0;
	bottom: -472.75px;
	color: white;
	z-index: -1



	
}


h6 {

	font-family: 'heimat_monobold_italic';
	font-weight: normal;
    font-style: normal;
    font-size: 19.5px;
position: fixed;
  top: 13.05px;
  right: 27px;
}



@-webkit-keyframes flash {
      0% { opacity: .25; }
     30% { opacity: .25; }
     36% { opacity: .65; }
   63% { opacity: .65; }
   69% { opacity: 1; }
    100% { opacity: 1; }}

@-moz-keyframes flash {
      0% { opacity: .25; }
     30% { opacity: .25; }
     36% { opacity: .65; }
   63% { opacity: .65; }
   69% { opacity: 1; }
    100% { opacity: 1; }}
}

@keyframes flash {
      0% { opacity: .25; }
     30% { opacity: .25; }
     36% { opacity: .65; }
   63% { opacity: .65; }
   69% { opacity: 1; }
    100% { opacity: 1; }}

img {
	max-height: 100px;
	position: fixed;
	top: 238px;
	right: 60px;

	-webkit-animation-name: flash;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-name: flash;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
      animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;

}

.fling{
	overflow: hidden;
  	display: inline-block;
}

a:link {
	text-decoration: none;
	  border: 2px solid;
  color: black;
  padding-left: 5px;
   padding-right: 7.5px;
 padding-bottom: 3px;
}

a:visited {
    color: black;
}
a:hover {
    background-color: white;
}
a:active {
    text-decoration: none;
    background-color: white;
}

body {
	background: lime;
   cursor: url('cursor.png'), auto;  

}




@media screen and (max-width: 1152px) {
     h1 {
    	font-size: 350px;
    	margin-top: -46px;
    }
       h2 {
    	font-size: 350px;
    	margin-top: -48px;
    	left: 510px;
    }
    	h3 {
    	font-size: 350px;
    	bottom: -378px;
    	right: 835px;
    }
   		 h4 {
    	font-size: 350px;
    	bottom: -493px;
    }
    h5 {
    	font-size: 350px;
    	bottom: -437px;

    }
    img {
    top: 250px;
	right: 40px;
	
}
.wybc {
	font-size: 18px;
	bottom: 172px;
   left: -78px;

}

h6 {
	font-size: 18px;
	top: 16px;
}

  }

    @media screen and (max-width: 1024px) {
     h1 {
    	font-size: 300px;
    	margin-top: 55px;
    }
       h2 {
    	font-size: 300px;
    	margin-top: 55px;
    	left: 440px;
    }
    	h3 {
    	font-size: 300px;
    	bottom: -317px;
    	right: 721px;
    }
   		 h4 {
    	font-size: 300px;
    	bottom: -416px;
    }

      		 h5 {
    	font-size: 300px;
    	bottom: -368px;

   
    
    }

    
    img {
    top: 280px;
	right: 35px;
	max-height: 90px;


	
}
.wybc {
	font-family: 'heimat_monobold_italic';
	font-weight: normal;
    font-style: normal;
    font-size: 18px;
transform: rotate(0deg);
     -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
  position: fixed;
  top: 50px;
   left: 27px;
}

	h6{
		top: 105px;
		font-size: 18px;
	}
  }

 @media screen and (max-width: 896px) {
     h1 {
    font-size: 275px;
    margin-top: 128.45px;
    }
       h2 {
    font-size: 275px;
    margin-top: 128.45px;
    left: 405px;
    }
    h3 {
    font-size: 275px;
    bottom: -285px;
    right: 662px;
    }
   	h4 {
    font-size: 275px;
    bottom: -376px;
    }
    h5 {
    font-size: 275px;
    bottom: -331px;

}

   
    
    img {
    top: 25px;
right: 25px;
max-height: 75px;
}
.wybc {
font-family: 'heimat_monobold_italic';
font-weight: normal;
    font-style: normal;
    font-size: 18px;
transform: rotate(0deg);
     -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
  top: 50px;
   left: 27px;
}
h6{
top: 172px;
font-size: 18px;
}
  }

    @media screen and (max-width: 768px) {
     h1 {
    	font-size: 225px;
    	margin-top: 150.49px;
    }
       h2 {
    	font-size: 225px;
    	margin-top: 150.49px;
    	left: 335px;
    }
    	h3 {
    	font-size: 225px;
    	top: 124px;
    	right: 545px;
    }
   		 h4 {
    	font-size: 225px;
    	top: 50px;
    }

    h5 {
    	font-size: 225px;
    	top: -140px;
    }
    img {
    top: 25px;
	right: 25px;
	max-height: 75px;
}
.wybc {
	font-family: 'heimat_monobold_italic';
	font-weight: normal;
    font-style: normal;
    font-size: 18px;
  transform: rotate(0deg);
     -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
  top: 50px;
   left: 27px;
}
	h6{

		font-size: 18px;
		top: 615px;
		text-align: center;
	margin-right: 0 auto;
	margin-left: 0 auto;
	left: 0;
	right: 0;

	}
  }



    @media screen and (max-width: 400px) {
     h1 {
    	font-size: 100px;
    	top: 27px;
    }
       h2 {
    	font-size: 100px;
    	top: 27px;
    	left: 160px;
    }
    	h3 {
    	font-size: 100px;
    		top: 162px;
    	right: 257px;
    }
   		 h4 {
    	font-size: 100px;
    		top: 130px;
    }

    h5 {
    	font-size: 100px;
    	top: 44.5px;
    }

    img {
    top: 32px;
	right: 20px;
	max-height: 50px;
}
.wybc {
	font-family: 'heimat_monobold_italic';
	font-weight: normal;
    font-style: normal;
    font-size: 18px;
  transform: rotate(0deg);
     -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
  top: 50px;
   left: 27px;
}

	h6{

		font-size: 18px;
		top: 460px;
		text-align: center;
	margin-right: 0 auto;
	margin-left: 0 auto;
	left: 0;
	right: 0;

	}
  }

    @media screen and (max-width: 320px) {
     h1 {
    	font-size: 100px;
    	top: -22px;
    	left: 10px;
    }
       h2 {
    	font-size: 100px;
    	top: -22px;
    	left: 150px;
    }
    	h3 {
    	font-size: 100px;
    		top: 113px;
    	right: 244px;
    }
   		 h4 {
    	font-size: 100px;
    		top: 80px;
    		right: 10px;
    }

    h5 {
    	font-size: 100px;
    	top: -4px;
    }

    img {
    top: 32px;
	right: 10px;
	max-height: 50px;
}
.wybc {
	position: fixed;
  top: 50px;
   left: 10px;
   font-size: 16px
}

	h6{

		font-size: 16px;
		top: 365px;
		text-align: center;
	margin-right: 0 auto;
	margin-left: 0 auto;
	left: 0;
	right: 0;

	}
  }