body {
  font-family:'Karla';
  color: black;
  font-size: 24px;
}

header{
	line-height: 140%;
}

.title{
	font-family:'Karla';
	font-weight: 700;
	margin-top: 60px;
	margin-bottom: -100px;

}

h2{
  font-size: 6em;
  text-align: left;
  color: blue;
  margin-top: 130px;

}

a:link {
    text-decoration: underline;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    background-color: blue;
}
a:active {
    text-decoration: none;
}

.projects{
	font-family:'Karla';
	font-size: 24px;
  	text-align: right;
  	line-height: 215%;
  	margin-top: -65px;
}

.info{
	text-align: left;
	font-size: 16px;
  position: fixed;
  bottom: 50px;
}

.container {
  width: 600px;
  margin: 0 auto; 
}