a:link {
  color: magenta;
    text-decoration: none;
    
  }

a:visited {
    color: magenta;
}
a:hover {

    color: white;
    
    
}
a:active {
    text-decoration: none;
}




body {
  background: #000080;
}

.case {
  margin-right: 150px;
  margin-left: 150px;


}



h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  left: 154px;
  
  top: 15px;
   position: fixed;
   color: white;
  z-index: -1;

    letter-spacing: 5px;

}

.info {
 color: white;
	text-align: right;
	font-family:'Montserrat Alternates';
	position: fixed;
    margin-top: -30px;
    font-size: 50px;
  font-weight: 700;
	 letter-spacing: 5px;
   text-transform: uppercase;
   right: 155px;
    z-index: -1;
 }



   .about {
 color: white;
  text-align: center;
  font-family:'Montserrat Alternates';

position: fixed;
    margin-top: 208px;
    font-size: 50px;
  font-weight: 700;
   letter-spacing: 5px;
   text-transform: uppercase;
   left: 156px;
 }


   
	   /*padding-top: 2px;
    padding-bottom: 2px;
    border-style: solid;
    border-width: 2px;*/


h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 83px;
  
  text-align: center;
 
  margin-top: 148px;
  
   color: magenta;
  
letter-spacing: 47px;
    

}

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 83px;
  
  text-align: right;
 
  top: 303px;
  right: 110px;
   color: magenta;
  margin-right: 103px;
letter-spacing: 47px;
margin-top: 137px;

    
}

h4 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 83px;
  
  text-align: left;
 
  top: 28px;
 margin-bottom: 213.13px;
   color: magenta;
  position: relative;
letter-spacing: 47px;

    

}


.text {
 font-family: 'Crimson Text', serif;
  font-size: 25px;
  font-weight: 400;
  color: #00008B;
  line-height: 160%;
 
  margin-top: 35px;
  

}

.author {
	
	font-family:'Crimson Text', serif;
	  font-weight: 400;
	  font-size: 18px;
	 letter-spacing: .5px;
	  position: relative;
	  margin-top: 50px;
	  margin-bottom: 65px;
     color: #00008B;
  line-height: 150%;
   
	 

}

.container {
	width: 700px;
  margin-left: 150px;
}