/*
 * Created with iconvau.lt
 */

@font-face {
  font-family: "p4k";
  src: url("p4k_38d4000aafc514334705fb29cfb853f6.eot");
  src: url("p4k_38d4000aafc514334705fb29cfb853f6.eot?#iefix") format("embedded-opentype"),
       url("p4k_38d4000aafc514334705fb29cfb853f6.woff") format("woff"),
       url("p4k_38d4000aafc514334705fb29cfb853f6.ttf") format("truetype"),
       url("p4k_38d4000aafc514334705fb29cfb853f6.svg#p4k") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-social-youtube:before,
.icon-social-tumblr:before,
.icon-social-facebook:before,
.icon-social-twitter-nocircle:before,
.icon-social-facebook-nocircle:before,
.icon-social-spotify:before,
.icon-social-twitter:before,
.icon-social-gplus-nocircle:before,
.icon-social-instagram:before {
  font-family: "p4k";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-social-youtube:before { content: "\f100"; }
.icon-social-tumblr:before { content: "\f101"; }
.icon-social-facebook:before { content: "\f102"; }
.icon-social-twitter-nocircle:before { content: "\f103"; }
.icon-social-facebook-nocircle:before { content: "\f104"; }
.icon-social-spotify:before { content: "\f105"; }
.icon-social-twitter:before { content: "\f106"; }
.icon-social-gplus-nocircle:before { content: "\f107"; }
.icon-social-instagram:before { content: "\f108"; }