/* Main */

h1 {
	font-family: 'kaasregular';
	font-size: 50px;
	font-weight: normal;
	font-style: normal;
	position: fixed;
	letter-spacing: 0px;
	margin-top: 8px;
	left: 25px;
 -webkit-animation-name: flash;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
   -moz-animation-name: flash;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  z-index: -1
}

  h2 {
	font-family: 'kaasregular';
	font-size: 50px;
	font-weight: normal;
	font-style: normal;
	position: fixed;
	letter-spacing: 0px;
	bottom: -24px;
	right: 28px;
-webkit-animation-name: flash;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-name: flash;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  z-index: -1
}

.wybc {
	font-family: 'heimat_monobold_italic';
	font-weight: normal;
  font-style: normal;
  font-size: 23.5px;
  margin-top: 43px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.date {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
  font-style: normal;
  font-size: 23.5px;
  position: fixed;
  bottom: 57px;
  letter-spacing: -.25px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center
}

.free {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    font-size: 16px;
  transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  position: fixed;
  bottom: 300px;
   left: -198px;
}

h5 {
  font-family: 'kaasregular';
  font-size: 440px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  letter-spacing: 0px;
  text-align: center;
  margin-right: 0 auto;
  margin-left: 0 auto;
  left: 0;
  right: 0;
  bottom: -550px;
  color: white;
  z-index: -1 
}

h6 {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
  font-style: normal;
  font-size: 21px;
  position: fixed;
  top: -19px;
  right: 27px;
  }

.setlist {
  font-size: 106px;
  font-weight: bold;
  line-height: 125.5%;
  margin-top: 120px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.main {
  width: 550px;
  margin: 0 auto;
}

.info {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  margin-top: 179px;
  line-height: 127.5%;
  margin-left: 49px;
  position: fixed
}

.tickets {
   font-family: 'heimat_monobold_italic';
   width: 300px;
   line-height: 134%;
 margin-left: 6px;
  font-size: 18px;
 margin-top: 24px;
 text-align: right;
 z-index: 1
}

#icon {   
  cursor: pointer;
  font-family: 'heimat_monobold';
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  bottom: 14px;
  left: 21px;
}

#icon-active {
    
  cursor: pointer;
  font-family: 'heimat_monobold';
  font-size: 67.8px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  bottom: 10px;
  left: 21px;
  color: lime;
  z-index: -1

}

#menu {
    position: fixed;
    cursor: default;
    bottom: 0;
   left: 0;
    width: 333px;
    height: 145px;
    background: white;
    visibility: hidden;

}

#icon:hover #menu {
    visibility: visible;
    cursor: pointer;
}

#icon:focus #menu {
    visibility: visible;
}

img {
  max-height: 105px;
  position: fixed;
  top: 280px;
  right: 60px;

  -webkit-animation-name: flash;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-name: flash;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
      animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.fling {
  overflow: hidden;
    display: inline-block;
}

a:link {
  text-decoration: none;
color: black;
}

a:visited {
    color: black;
}
a:hover {
    color: white;
    font-size: 113%;
}

a:active {
    text-decoration: none;
    color: white;
}

a.two:hover {
    color: lime;
}

a.two:active {
    text-decoration: none;
    color: lime;
}

a.three:link {
  text-decoration: none;
    border: 2px solid;
  color: black;
  padding-left: 6px;
   padding-right: 7px;
 padding-bottom: 3px;
 /*
  -webkit-animation-name: blink;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
   -moz-animation-name: blink;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  */
}

a.three:visited {
    color: black;
}
a.three:hover {
    background-color: white;
}
a.three:active {
    text-decoration: none;
    background-color: white;
}

@-webkit-keyframes flash {
      0% { opacity: .25; }
     30% { opacity: .25; }
     36% { opacity: .65; }
   63% { opacity: .65; }
   69% { opacity: 1; }
    100% { opacity: 1; }}

@-moz-keyframes flash {
      0% { opacity: .25; }
     30% { opacity: .25; }
     36% { opacity: .65; }
   63% { opacity: .65; }
   69% { opacity: 1; }
    100% { opacity: 1; }}
}

@keyframes flash {
      0% { opacity: .25; }
     30% { opacity: .25; }
     36% { opacity: .65; }
   63% { opacity: .65; }
   69% { opacity: 1; }
    100% { opacity: 1; }}

    @-webkit-keyframes blink {
      0% { background-color: lime; }
      47% { background-color: lime; }
    53% { background-color: white; }
    100% { background-color: white; }
  }

      @-moz-webkit-keyframes blink {
       0% { background-color: lime; }
      47% { background-color: lime; }
    53% { background-color: white; }
    100% { background-color: white; }

  }

      @keyframes blink {
      0% { background-color: lime; }
      47% { background-color: lime; }
    53% { background-color: white; }
    100% { background-color: white; }

  }

body {
	background: lime;
  cursor: url('cursor.png'), auto;  
}

@media screen and (max-width: 1280px) {

  h1 {
    font-size: 45px;
    margin-top: 8px;
    left: 25px;
  }

  h2 {
    font-size: 45px;
    bottom: -19px;
    right: 28px;
  } 

  h5 {
    font-size: 375px;
    bottom: -472.75px;  
    }

  .wybc {
    font-size: 22px;
    margin-top: 43px;
  }

  .date {
    font-size: 22px;
    bottom: 55px;
  }

  .free {
    font-size: 16px;
    bottom: 300px;
    left: -198px;
  }

  h6 {
    font-size: 19.5px;
    top: -15px;
    right: 27px;
  }

  .setlist {
    font-size: 90px;
    line-height: 127%;
    margin-top: 115px;
  }

  .main {
    width: 550px;
    margin: 0 auto;
  }

  .info {
    font-size: 16px;
    margin-top: 160px;
    line-height: 120%;
    margin-left: 49px;
  }

  .tickets {
    width: 280px;
    line-height: 120%;
    margin-left: -3px;
    font-size: 16px;
    margin-top: 24px;
  }

  #icon {   
    font-size: 55px;
    bottom: 16px;
    left: 23px;
  }

  #icon-active {
    font-size: 62.15px;
    bottom: 10px;
    left: 23px;
  }

  #menu {
    width: 305px;
    height: 127px;
  }

  img {
    top: 238px;
    right: 60px;
  }

}

@media screen and (max-width: 1024px) {

h5 {  
  top: -560px;
}
     
.setlist {
  font-size: 90px;
  font-weight: bold;
  line-height: 127%;
  margin-top: 93px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center
}
 
.info {
  font-family: 'heimat_monobold_italic';
      font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    margin-top: 145px;
    line-height: 120%;
    margin-left: 49px;
    position: fixed
  }

img {
  max-height: 100px;
  position: fixed;
  top: 238px;
  right: 60px;
}

@media screen and (max-width: 768px) {

  .setlist {

  font-size: 90px;
  font-weight: bold;
  line-height: 127%;
  margin-top: 210px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center

}

    h5 {
      font-size: 300px;
      top: -265px;
    }

.info {
  font-family: 'heimat_monobold_italic';
      font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    margin-top: 263px;
    line-height: 120%;
    margin-left: 15px;
    position: fixed
}

.wybc {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    margin-top: 82px;


}
.date {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    font-size: 22px;
  position: fixed;
  bottom: 95px;

  letter-spacing: -.25px;
    margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center

}

img{
  right: 40px;
  top: 315px;
}
  }


@media screen and (max-width: 400px) {

  .setlist {

  font-size: 70px;
  font-weight: bold;
  line-height: 127%;
  margin-top: 130px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center

}

    h5 {
      font-size: 150px;
      top: -40px;
    }

.info {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    font-size: 16px;
margin-top: 580px;
margin-bottom: 80px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 120%;

}

.wybc {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    margin-top: 90px;
    font-size: 18px;
    position: absolute;


}
.date {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    font-size: 18px;
  position: fixed;
  bottom: 80px;
position: absolute;
  letter-spacing: -.25px;
    margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center

}

img{
  right: 15px;
  top: 230px;
  max-height: 65px;
}
  }

  @media screen and (max-width: 320px) {


  h1 {
    left: 10px;
    margin-top: -5px;
  }

  h2 {
    right:10px;
    bottom: -30px;
  }
  .setlist {

  font-size: 55px;
  font-weight: bold;
  line-height: 110%;
  margin-top: 113px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center

}

    h5 {
      font-size: 125px;
      top: -52px;
    }

.info {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    font-size: 16px;
margin-top: 482px;
margin-bottom: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 120%;

}

.wybc {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    margin-top: 83px;
    font-size: 18px;
    position: absolute;


}
.date {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    font-size: 18px;
  position: fixed;
  bottom: 75px;
position: absolute;
  letter-spacing: -.25px;
    margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center

}

img{
  right: 10px;
  top: 180px;
  max-height: 65px;
}

#icon {   
    cursor: pointer;
      font-family: 'heimat_monobold';
  font-size: 55px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  bottom: 5px;
  left: 10px;

}

#icon-active {
    
    cursor: pointer;
      font-family: 'heimat_monobold';
  font-size: 62.15px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  bottom: 0px;
  left: 10px;
  color: lime;
  z-index: -1

}

h6 {

  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    font-size: 19.5px;
position: fixed;
  top: -28px;
    right: 10px;
}
  }
  