/* Allies */

h1 {
  font-family: 'kaasregular';
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  letter-spacing: 0px;
  margin-top: 8px;
  left: 25px;
 -webkit-animation-name: flash;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
   -moz-animation-name: flash;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  z-index: -1
}

  h2 {
  font-family: 'kaasregular';
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  letter-spacing: 0px;
  bottom: -19px;
  right: 28px;
 
-webkit-animation-name: flash;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-name: flash;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  z-index: -1
}

.wybc {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
  font-style: normal;
  font-size: 23.5px;
  margin-top: 43px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.date {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
  font-style: normal;
  font-size: 23.5px;
  position: fixed;
  bottom: 57px;
  letter-spacing: -.25px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center
}

.free {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    font-size: 16px;
  transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  position: fixed;
  bottom: 300px;
   left: -198px;

}

h5 {
  font-family: 'kaasregular';
  font-size: 440px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  letter-spacing: 0px;
  text-align: center;
  margin-right: 0 auto;
  margin-left: 0 auto;
  left: 0;
  right: 0;
  bottom: -550px;
  color: white;
  z-index: -1 
}

.setlist {
  font-size: 106px;
  font-weight: bold;
  line-height: 125.5%;
  margin-top: 120px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.bio {
   font-family: 'heimat_monobold';
      font-weight: normal;
    font-style: normal;
    font-size: 19.5px;
    margin-top: 284px;
    line-height: 180%;
    text-align: justify;
}

.controls {
  font-size: 18px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  bottom: 85px;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
}

.song {
   font-family: 'heimat_monobold_italic';
  font-size: 18px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  bottom: 55px;
  letter-spacing: -.25px;
}

#play:hover {
    
    cursor: pointer;
}


.main {
  width: 725px;
  margin: 0 auto;
  left: 0;
  right: 0;

position: fixed;
}

.info {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  margin-top: 179px;
  line-height: 127.5%;
  margin-left: 49px;
  position: fixed
}

.tickets {
   font-family: 'heimat_monobold_italic';
   width: 300px;
   line-height: 134%;
 margin-left: 6px;
  font-size: 18px;
 margin-top: 24px;
 text-align: right;
 z-index: 1
}

#icon {   
  cursor: pointer;
  font-family: 'heimat_monobold';
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  bottom: 14px;
  left: 21px;
}

#icon-active {
    
  cursor: pointer;
  font-family: 'heimat_monobold';
  font-size: 67.8px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  bottom: 10px;
  left: 21px;
  color: lime;
  z-index: -1

}

#menu {
    position: fixed;
    cursor: default;
    bottom: 0;
   left: 0;
    width: 333px;
    height: 145px;
    background: white;
    visibility: hidden;

}

#icon:hover #menu {
    visibility: visible;
    cursor: pointer;
}

#icon:focus #menu {
    visibility: visible;
}

img {
  max-height: 105px;
  position: fixed;
  top: 280px;
  right: 60px;
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-name: flash;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
      animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
      0% { opacity: .25; }
     30% { opacity: .25; }
     36% { opacity: .65; }
   63% { opacity: .65; }
   69% { opacity: 1; }
    100% { opacity: 1; }}

@-moz-keyframes flash {
      0% { opacity: .25; }
     30% { opacity: .25; }
     36% { opacity: .65; }
   63% { opacity: .65; }
   69% { opacity: 1; }
    100% { opacity: 1; }}
}

@keyframes flash {
      0% { opacity: .25; }
     30% { opacity: .25; }
     36% { opacity: .65; }
   63% { opacity: .65; }
   69% { opacity: 1; }
    100% { opacity: 1; }}


.fling{
  overflow: hidden;
    display: inline-block;
}

a:link {
  text-decoration: none;
color: black;
}

a:visited {
    color: black;
}
a:hover {
    color: white;
    font-size: 113%;
}


a:active {
    text-decoration: none;
    color: white;

}

a.two:hover {
    color: lime;
}

a.two:active {
    text-decoration: none;
    color: lime;

}

body {
  background: lime;
  cursor: url('cursor.png'), auto;  

}

@media screen and (max-width: 1280px) {

  h1 {
    font-size: 45px;
    margin-top: 8px;
    left: 25px;
  }

  h2 {
    font-size: 45px;
    bottom: -19px;
    right: 28px;
  } 

  h5 {
    font-size: 375px;
    bottom: -472.75px;  
    }

.main {
  width: 675px;
}

  .wybc {
    font-size: 22px;
    margin-top: 43px;
  }

  .date {
    font-size: 22px;
    bottom: 55px;
  }


  h6 {
    font-size: 19.5px;
    top: -15px;
    right: 27px;
  }

  .setlist {
    font-size: 90px;
    line-height: 127%;
    margin-top: 115px;
  }

  .info {
    font-size: 16px;
    margin-top: 160px;
    line-height: 120%;
    margin-left: 49px;
  }

  .bio {
   font-family: 'heimat_monobold';
      font-weight: normal;
    font-style: normal;
    font-size: 18px;
    margin-top: 260px;
  }

.controls {
  font-size: 18px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  bottom: 80px;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
}

.controls {
  font-size: 18px;
  bottom: 80px;
}

.song {
   font-family: 'heimat_monobold_italic';
  font-size: 16px;
  bottom: 50px;
}

  .tickets {
    width: 280px;
    line-height: 120%;
    margin-left: -3px;
    font-size: 16px;
    margin-top: 24px;
  }

  #icon {   
    font-size: 55px;
    bottom: 16px;
    left: 23px;
  }

  #icon-active {
    font-size: 62.15px;
    bottom: 10px;
    left: 23px;
  }

  #menu {
    width: 305px;
    height: 127px;
  }

  img {
    top: 238px;
    right: 60px;
  }

}

    @media screen and (max-width: 1024px) {
     
.setlist {

  font-size: 90px;
  font-weight: bold;
  line-height: 127%;
  margin-top: 93px;
  position: fixed;
  margin-left: auto;
  margin;right: auto;
  left: 0;
  right: 0;
  text-align: center

}
 
.info {
  font-family: 'heimat_monobold_italic';
      font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    margin-top: 145px;
    line-height: 120%;
    margin-left: 49px;
    position: fixed
}

.bio {
   font-family: 'heimat_monobold';
      font-weight: normal;
    font-style: normal;
    font-size: 18px;
    margin-top: 223px;
    line-height: 180%;
    text-align: justify;
    
}

.controls {
  font-size: 18px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  bottom: 80px;
  letter-spacing: 2px
}

.song {
   font-family: 'heimat_monobold_italic';
  font-size: 16px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  bottom: 50px;
  letter-spacing: -.25px;

  
}

.main {
  width: 615px;
  margin: 0 auto;
  left: 0;
  right: 0;

position: fixed;
}

h5 {
  top: -560px;
}
}

@media screen and (max-width: 768px) {


.controls {
  font-size: 18px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  bottom: 80px;
  letter-spacing: 2px
}

.main {
  width: 430px;
  margin: 0 auto;
  left: 0;
  right: 0;

position: fixed;
}

    h5 {
      font-size: 300px;
      top: -265px;
    }

.info {
  font-family: 'heimat_monobold_italic';
      font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    margin-top: 263px;
    line-height: 120%;
    margin-left: 15px;
    position: fixed
}

.wybc {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
  font-style: normal;
  font-size: 23.5px;
  margin-top: 43px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
  


img{
  right: 40px;
  top: 315px;
}

.setlist {
 font-size: 90px;
  font-weight: bold;
  line-height: 127%;
  margin-top: 135px;
  position: fixed;
  margin-left: auto;
  margin;right: auto;
  left: 0;
  right: 0;
  text-align: center
  }

  .bio {
   font-family: 'heimat_monobold';
      font-weight: normal;
    font-style: normal;
    font-size: 18px;
    margin-top: 270px;
    line-height: 180%;
    text-align: justify;
    
}
}

@media screen and (max-width: 414px) {
.controls {
  font-size: 16px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
top: 625px;
  letter-spacing: 2px
}

.song {
   font-family: 'heimat_monobold_italic';
  font-size: 16px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  top: 650px;
  letter-spacing: -.25px;

  
}

  .setlist {

  font-size: 69px;
  font-weight: bold;
  line-height: 127%;
  margin-top: 130px;
  position: absolute;
  margin-left: auto;
  margin;right: auto;
  left: 0;
  right: 0;
  text-align: center

}

  .bio {
   font-family: 'heimat_monobold';
      font-weight: normal;
    font-style: normal;
    font-size: 16px;
    margin-top: 235px;
    line-height: 180%;
    text-align: justify;
    position: absolute;
    
}

.main {
  width: 325px;
  margin: 0 auto;
  left: 0;
  right: 0;
position: absolute;
}

    h5 {
      font-size: 150px;
      top: -180px;
    }

.info {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    font-size: 16px;
margin-top: 730px;
margin-bottom: 120px;
  position: absolute;
  margin-left: auto;
  margin;right: auto;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 120%;

}

.wybc {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    margin-top: 90px;
    font-size: 18px;
    position: absolute;


}
.date {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    font-size: 18px;
  position: fixed;
  bottom: 80px;
position: absolute;
  letter-spacing: -.25px;
    margin-left: auto;
  margin;right: auto;
  left: 0;
  right: 0;
  text-align: center

}

img{
  right: 15px;
  top: 230px;
  max-height: 65px;
}
  }

  @media screen and (max-width: 320px) {


  .controls {
  font-size: 16px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
top: 670px;
  letter-spacing: 2px
}

.song {
   font-family: 'heimat_monobold_italic';
  font-size: 16px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  top: 695px;
  letter-spacing: -.25px;

  
}

  .setlist {

  font-size: 62px;
  font-weight: bold;
  line-height: 127%;
  margin-top: 120px;
  position: absolute;
  margin-left: auto;
  margin;right: auto;
  left: 0;
  right: 0;
  text-align: center

}

  .bio {
   font-family: 'heimat_monobold';
      font-weight: normal;
    font-style: normal;
    font-size: 16px;
    margin-top: 220px;
    line-height: 180%;
    text-align: justify;
    position: absolute;
    
}

.main {
  width: 290px;
  margin: 0 auto;
  left: 0;
  right: 0;

position: absolute;
}

    h5 {
      font-size: 125px;
      top: -125px;
    }

.info {
  font-family: 'heimat_monobold_italic';
  font-weight: normal;
    font-style: normal;
    font-size: 16px;
margin-top: 775px;
margin-bottom: 100px;
  position: absolute;
  margin-left: auto;
  margin;right: auto;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 120%;

}

img{
  right: 15px;
  top: 206px;
  max-height: 65px;
}

#icon {   
    cursor: pointer;
      font-family: 'heimat_monobold';
  font-size: 55px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  bottom: 5px;
  left: 10px;

}

#icon-active {
    
    cursor: pointer;
      font-family: 'heimat_monobold';
  font-size: 62.15px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
  bottom: 0px;
  left: 10px;
  color: lime;
  z-index: -1
  }

h1 {
    left: 10px;
    margin-top: -5px;
  }

  h2 {
    right:10px;
    bottom: -30px;
  }

  
}