body {
	background: aqua;

}



h1 {
  font-family:'Dosis', sans-serif;
  font-size: 193.5px;
  font-weight: 700;
  text-align: left;
  color: #FF4500;
  margin-top: -105px;
  line-height: 100%;
    
}

.title-left {

	position: fixed;
	left: 70px;
	top: 70px;
	text-align: center;
	font-family:'Dosis', sans-serif;
	font-weight: 700;
	font-size: 17px;
	color: #FF4500;
}

.title-right {

	position: fixed;
	right: 70px;
	bottom: 70px;
	text-align: center;
	font-family:'Dosis', sans-serif;
	font-weight: 700;
	font-size: 17px;
	color: #FF4500;
}

.rock {
	
	font-family:'Dosis', sans-serif;
	top: 100px;
	  font-weight: 700;
	  font-size: 50px;
	color: #FF4500;
	 margin-top: -492px;
	 letter-spacing: 2.5px;
	 text-align: right;
	 line-height: 105%;
	
	}

.info {
	
font-family:'Dosis', sans-serif;
	  font-weight: 700;
	  font-size: 17px;
	  line-height: 150%;

	  margin-top: 380px;
	text-align: center;
	  color: #FF4500;
	  text-transform: uppercase;
	  letter-spacing: 3.5px;
	  
	 

}

h2 {
  font-family:'Anonymous Pro';
  font-size: 15em;
  font-weight: 400;
  right: 240px;
  position: fixed;
color: lime;
z-index: -1;
margin-top: -110px;

}


.text {
  font-family:'Roboto', sans-serif;
  font-size: 20.65px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 200%;
  position: relative;
  margin-top: 15px;



}
#frame-top,
#frame-right,
#frame-bottom,
#frame-left {
    position: fixed;
    background: #FF4500;
}

#frame-top {
   height: 40px;
   top: 0;
   left: 0;
   right: 0; 
}

#frame-bottom {
    height: 35px;
    bottom: 0;
    left: 0;
    right: 0;   
}

#frame-left {
    width: 35px;
    left: 0;
    top: 0;
    bottom: 0;
}

#frame-right {
    width: 35px;
    right: 0;
    top: 0;
    bottom: 0;
}

#content {
    position: absolute;
    z-index: -1;
    margin: 250px;
}

.author {
	
	font-family:'Dosis', sans-serif;
	  font-weight: 500;
	  font-size: 17px;
	  line-height: 150%;
	 letter-spacing: 1.75px;
	  margin-top: 35px;
	  
	  color: #FF4500;

}

.date {
	
	font-family:'Dosis', sans-serif;
	  font-weight: 500;
	  font-size: 17px;
	  line-height: 150%;
	 letter-spacing: 1.75px;
	  margin-top: 0px;
	  margin-bottom: -75px;
	  color: #FF4500;
	  margin-top: 15px;
}

p {
	text-indent: 55px;

	margin: 0;
}

.container {
	width: 700px;
  margin: 0 auto;
}